
.CircleExample-container {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CircleExample-item-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .5);
    border-radius: 100%;
}

.CircleExample-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}